footer{
  padding: 10vw;
  background-color: black;
  color: white;
}

footer>div.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
}

footer>div.row>div.col {
  padding: 5px;
  --footer-row-extra: calc(10vw + 10px);
  min-width: calc(320px - var(--footer-row-extra));
  text-align: center;
}