.fullpage{
    background-color: #000000;  

    min-height: 100vh;
}
.intro h1{
    color: brown;
}
.intro h1 #one{
    color: blue;
}
.intro h1 #two{
    color: green;
}
.intro{
    display: flex;
    padding: 10% 10%;
}