.part1 {
  min-height: 90vh;
  /* background-color: #743d3d; */
}

.part1>div.containered {
  position: relative;
  min-height: inherit;
}

.part1>div.containered>.background {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  filter: blur(3px);
}

.part1>div.containered>.foreground {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  z-index: 2;
}

.part1 h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  text-shadow: none;

}

.part1 h2 {
  color: white;
  text-align: center;
}


.cards {
  position: relative;
  width: inherit;
  height: 90vh;
  overflow: hidden;
  background-image: url(/images/index/IMG_7261.jpeg);
  background-repeat: no-repeat;
  background-position: center; 
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
