div.part2 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 10vw;
  min-height: 80vh;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 500px;
}

.intro>h1 {
  margin: 20px;
  font-size: 40px;
}
