.part1 {
  min-height: 90vh;
  background-color: #743d3d;
}

.part1>div.container {
  position: relative;
  min-height: inherit;
}

.part1>div.container>.background {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  filter: blur(3px);
}

.part1>div.container>.foreground {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  z-index: 2;
}

.part1 h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  text-shadow: none;

}

.part1 h2 {
  color: white;
  text-align: center;
}


.cards {
  position: relative;

  width: inherit;
  height: 90vh;
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.cards::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: inherit;
  height: 90vh;

  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  transform: translateX(700px);
  background-image: url(/images/index/imgA.jpg);
  background-position: center;
  background-repeat: no-repeat;
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 6;
  background-image: url(/images/index/imgB.jpg);
  animation-delay: 7s;
  background-position: center;
  background-repeat: no-repeat;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url(/images/index/imgA.jpg);
  animation-delay: 14s;
  background-position: center;
  background-repeat: no-repeat;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url(/images/index/imgB.jpg);
  background-position: center;
  background-repeat: no-repeat;
  animation-delay: 21s;
}


@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}